COMPOSE_API_VERSION=auto

COMPOSE_PROJECT_NAME=cmf2

CONTAINER_NAME=cmf2

APACHE_RUN_ID=1000
APACHE_RUN_USER=krok
APACHE_RUN_GROUP=krok

MYSQL_HOST=mysql
MYSQL_USER=cmf2
MYSQL_PASSWORD=cmf2
MYSQL_DATABASE=cmf2
MYSQL_ROOT_PASSWORD=root

REDIS_HOST=redis
REDIS_PORT=6379

IMAGE_APP_NAME=nsign/php-cmf2-apache:7.1-dev

NETWORK_SUBNET=0.0.0.0/24
NETWORK_APP=0.0.0.0
NETWORK_REDIS=0.0.0.0
NETWORK_MYSQL=0.0.0.0
NETWORK_PHPMYADMIN=0.0.0.0

YII_DEBUG=true
YII_ENV=dev
